<?xml version="1.0" encoding="UTF-8"?>
<set:Settings xmlns:set="http://www.isysbus.org/settings"><set:Global><set:LastOpenedProject1 AutoRestore="true" xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/><set:LastOpenedProject2 xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/><set:LastOpenedProject3 xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/><set:LastOpenedProject4 xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/><set:LastOpenedProject5 xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/></set:Global><set:Connections/><set:Update/><set:Etc/></set:Settings>