<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="homecontrol"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.isysbus.homecontrol.core.application"
            name="HomeControl">
         <property
               name="windowImages"
               value="platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_16x16.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_32x32.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_48x48.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_64x64.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_128x128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="00FFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,150,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,160,445,20">
         </property>
         <property
               name="appName"
               value="HomeControl">
         </property>
         <property
               name="aboutText"
               value="HomeControl Standardversion">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="default"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.isysbus.homecontrol.core.application"
            name="HomeControl">
         <property
               name="windowImages"
               value="platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_16x16.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_32x32.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_48x48.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_64x64.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_128x128.png">
         </property>
         <property
               name="aboutText"
               value="HomeControl Standardversion">
         </property>
         <property
               name="startupForegroundColor"
               value="00FFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,150,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,160,445,20">
         </property>
         <property
               name="appName"
               value="HomeControl">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.isysbus.homecontrol.core.application"
            name="HomeControl">
         <property
               name="windowImages"
               value="platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_16x16.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_32x32.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_48x48.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_64x64.png,platform:/plugin/org.isysbus.homecontrol.core/icons/homecontrol_128x128.png">
         </property>
         <property
               name="aboutText"
               value="HomeControl Standardversion">
         </property>
         <property
               name="startupForegroundColor"
               value="00FFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,150,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,160,445,20">
         </property>
         <property
               name="appName"
               value="HomeControl">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
